numpy==1.23.5
keras==2.9.0
pymongo
pymssql
pandas==1.1.5
sqlalchemy
kafka-python
apache-airflow
ciso8601
influxdb-client[ciso]
kubernetes<24,>=21.7.0
scikit-learn==1.2.0
imbalanced-learn
tensorflow==2.9.3
ipython
matplotlib==3.6.3
seaborn
apache-airflow-providers-cncf-kubernetes
cuda-python
psycopg2-binary
flask
pyts==0.12.0
streamlit
streamlit-autorefresh
numba==0.56.4
scipy==1.10.0