pymongo
pymssql
pandas
sqlalchemy
kafka-python
apache-airflow
ciso8601
influxdb-client[ciso]
kubernetes
scikit-learn
imbalanced-learn
tensorflow
tensorflow-gpu
ipython
matplotlib
seaborn
apache-airflow-providers-cncf-kubernetes
cuda-python
