pymongo
pymssql
pandas
sqlalchemy
kafka-python
apache-airflow
ciso8601
influxdb-client[ciso]
kubernetes
scikit-learn
imbalanced-learn
tensorflow
ipython
matplotlib
seaborn
apache-airflow-providers-cncf-kubernetes
cuda-python
torch==1.12.0
torchsummary==1.5.1
tqdm==4.64.1