numpy<1.24,>=1.18
pymongo
pymssql
pandas
sqlalchemy
kafka-python
apache-airflow
ciso8601
influxdb-client[ciso]
kubernetes<24,>=21.7.0
scikit-learn
imbalanced-learn
tensorflow
ipython
matplotlib
seaborn
apache-airflow-providers-cncf-kubernetes
cuda-python
psycopg2-binary
flask
pyts
streamlit
streamlit-autorefresh
numba